.card {
    display: flex;
    flex-direction: column;
    border: rgb(19, 75, 128) solid 1px;
    padding: 5px;
    border-radius: 15px;
    margin: 15px;
    min-width: 15%;
    min-height: 50%;
    background-color: rgba(62, 62, 62, 0.445);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  
  .ciudad {
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .header {
    display: flex;
    flex-direction: column;
  }
  
  .close {
      align-self: flex-end;
      cursor: pointer;
     color: rgb(188, 190, 190);
  }

  .contTemp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contTemp :first-child{
    font-size: 1em;
  }

  .contTemp span{
    color: white;
  }

  .description{
    font-weight: 500;
    font-size: 2em;
  }

  .temp{
    font-size: 3em;
    font-weight: 400;
    margin-right: 8px;
    
  }
  
  .image {
      display: flex;
      width: fit-content;
      align-self: center;
  }
  
  .image img {
      height: 100px;
  }
  
  .buttons {
      display: flex;
      align-self: center;
      justify-content: space-around;
      margin-top: 10px;
      background-color: grey;
      width: 50%;
      border: 1px solid rgb(85, 85, 85);
      border-radius: 5px;
  }

  .buttons button{
    cursor: pointer;
    color: white;
  }

  @media screen and (max-width: 610px) {
    .temp{
        font-size: 1.5rem;
    }
    .image img{
        height: 50px;
    }
    .card{
        width: 23%;
    }
}

@media screen and (max-width: 412px) {
    .card{
          margin: 0 10px 10px 10px;
          width: 40%;
    }
  }