.card {
    display: flex;
    flex-direction: column;
    border: rgb(19, 75, 128) solid 1px;
    padding: 5px;
    border-radius: 15px;
    margin: 15px;
    min-width: 15%;
    min-height: 50%;
    background-color: rgba(62, 62, 62, 0.445);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  
  .ciudad {
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .header {
    display: flex;
    flex-direction: column;
  }
  
  .close {
      align-self: flex-end;
      cursor: pointer;
     color: rgb(188, 190, 190);
  }

  .contTemp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contTemp :first-child{
    font-size: 1em;
  }

  .contTemp span{
    color: white;
  }

  .description{
    font-weight: 500;
    font-size: 2em;
  }

  .temp{
    font-size: 3em;
    font-weight: 400;
    margin-right: 8px;
    
  }
  
 
 
  .image {
      display: flex;
      width: fit-content;
      align-self: center;
  }
  
  .image img {
      height: 100px;
  }
  
  .buttons {
      display: flex;
      justify-content: space-around;
      margin-top: 15px;
  }