.contPrinc{
    width:30vw;
    margin-right: 10%;
}

.card {
      display: flex;
      flex-direction: column;
      border: rgb(19, 75, 128) solid 1px;
      padding: 5px;
      border-radius: 15px;
      margin: 35px;
      min-width: 60%;
      min-height: 50%;
      background-color: rgb(37, 38, 49);
      box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  
  .ciudad {
      display: flex;
      flex-direction: column;
  }

  .ciudad span, h1{
    color: white;
    font-size: 1em;
  }

  
  .header {
      display: flex;
      flex-direction: column;
  }
  
  .image {
      display: flex;
      justify-content: center;
      overflow: hidden;
      height: 7em;
  }
  
  .image img {
      height: 9em;
      margin-top: -15px;
  }

  .contTemp{
    display: flex;
    justify-content: center;
  }

  .contTemp span{
    color: white;
  }

  .description{
    font-weight: 500;
    font-size: 2em;
  }

  .minMax{
    display: flex;
    flex-direction: column;
    font-size: 0.6em;
    margin-left: 8px;
  }


  .temp{
    font-size: 3em;
    font-weight: 400;
    margin-right: 8px;
    
  }
  
  .details{
    display: flex;
    justify-content: space-around;
  }
  .detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7em;
    color: white;
  }

  .detail :first-child{
    font-weight: 750;
    font-size: 0.8rem;
  }