.contsup {
      display: flex;
    
      height: 28%;
      justify-content: space-between;
  }

  .clock {
   padding-top: 1%;
   padding-left: 10%;
   width: 70vw;
  }
  
  .search {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
  }
  
  .contprinc {
      height: 1200px;
  }
  
  .predet {
      display: flex;
      justify-content: flex-end;
      flex-grow: 0.3;
  }