.contsup {
      display: flex;
      border: rgb(215, 60, 60) solid 1px;
      height: 20%;
      justify-content: space-between;
  }
  
  .search {
      display: flex;
      border: black 1px solid;
  }
  
  .contprinc {
      height: 1200px;
  }
  
  .predet {
      display: flex;
      justify-content: flex-end;
  }