.contprinc {
    height: 100%;
  }

.contsup {
  display: flex;
  min-height: 55%;
  justify-content: space-between;
}

.clock {
  padding-top: 1%;
  width: 98%;
}

hr{
    border: 2px dashed rgb(146, 146, 148);
}

.search {
  display: flex;
  flex-direction: column;
  min-width: 60%;
}

.predet {
  display: flex;
  justify-content: flex-end;
  min-width: 39%;
}

.continf{
    width: 98%;
}

@media screen and (max-width: 735px) {
    .contsup{
        flex-direction: column;
        align-items: center;
        min-width: 98%;
    }
    .search{
        min-width: 98%;
        height: 70vh;
    }
    .predet{
        position: absolute;
        min-width: 98%;
        height: 52vh;
        justify-content: center;
    }
  hr {
    margin-top: 5px;
  }
}

@media screen and (max-width: 610px) {
    .clock{
        width: 98%;
        margin-left: auto;
        margin-right: auto;
     
    }
}

@media screen and (max-width: 549px) {
  .clock {
    width: 98%;
    padding-left: 2%;
  }
}

@media screen and (max-width: 412px) {
    .search{
     height: 60vh;
    }
    .predet{
        height: 40vh;
    }
   }

@media screen and (max-width: 360px) {
   .search{
    height: 50vh;
   }
   .predet{
    height: 40vh;
   }
  }

